<!doctype html>
<html ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <title>sky_app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bootstrap-responsive.css" />
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body ng-controller="weatherCtrl">
    <div class="etc">

      <div class="container"> 
        <!-- Jumbotron -->
        <div class="jumbotron">
          <img src="images/logo.png" class="logo">
        </div>

        <!-- Weather Search -->
        <div class="jumbotron searchWeather">
          <div class="wrapper">
            <input class="weatherSearch" ng-model="zip" type="text" placeholder="Enter Zip Code">
          </div>
          <button class="searchButton" type="button" ng-click="findWeather(zip);findNews(cityState)">Get Weather</button>
        </div>


        <!-- Current Conditions -->
          <div class="jumbotron fiveDayWrapper currentConditions" ng-show="place.item.condition.text">
            <div class="wrapper">
              <div class="wIcon">
                <img src="images/icons/{{place.item.condition.code}}.png"/>
              </div>
              <h3>Current Conditions for {{place.location.city}}, <span class="city">{{place.location.region}}<span></h3>
              <h2>{{ place.item.condition.text }} | {{ place.item.condition.temp }} <img src="images/icons/icon-degree.png" class="degree"> </h2>
            </div>   
          </div>
   

        <!-- 5 Day Forcast -->
        <div class="row-fluid fiveDayWrapper" ng-show="place.item.condition.text">
          <div class="wrapper">
            <div class="span2" ng-repeat="forecast in place.item.forecast">
              <h2><img style="width:50px;height:auto;" src="images/icons/{{place.item.condition.code}}.png"></h2>
              <p><strong>{{ forecast.date }}</strong></p>
              <p>{{ forecast.text }}</p>
              <p>H: {{ forecast.high }}° | L: {{ forecast.low }}°</p>
            </div>
          </div>
        </div>

      

      <div class="footer">
        <p>&copy; 2015. <a href="http://thinkclearstudios.com">Think Clear Studio</a> Production.</p>
      </div>

    </div> <!-- /container -->    
 </div>

  <script src="scripts/jquery.js"></script>
  <!-- Angular JS -->
   <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.16/angular.js" data-semver="1.2.16"></script>

   <script src="scripts/weather.js"></script>
  

  </body>
</html>
